# Google Sheets API Configuration
VITE_GOOGLE_API_KEY=

VITE_GIVAUDAN_SPREADSHEET_ID=
VITE_GIVAUDAN_SHEET_NAME=

VITE_PRODUCTION_DELIVERY_SPREADSHEET_ID=
VITE_PRODUCTION_SHEET_NAME=
VITE_DELIVERY_SHEET_NAME=

