# Google Sheets API Configuration
VITE_GOOGLE_API_KEY=

VITE_GIVAUDAN_SPREADSHEET_ID=
VITE_GIVAUDAN_SHEET_NAME=

VITE_PRODUCTION_DELIVERY_SPREADSHEET_ID=
VITE_PRODUCTION_SHEET_NAME=
VITE_DELIVERY_SHEET_NAME=

# for FIREBASE AUTH
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=